.container{
  display: block;
  text-align: center;
  justify-content: center;
  margin: 0 20% 0 20%;
}

.Auth-Container{
  float: right;
}

.left-container{
  float: left;
  display: grid;
  justify-content: center;
  margin-left: 10%
}

.right-container{
  float: right;
  margin-right: 15%
}

.liButtons{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1{
  font-size: 3.5em
}

ul {
  list-style-type: none;
  padding-left:0;
}

li{
  text-align:center;
}

table{
  border-collapse: collapse;
}

td{
  padding: 0;
  margin: 0;
}

.liButtons{
  transition: all 300ms;
  padding: 3px;
  border-right: 10px;
  font-size: 1.3em;
  
}

.liButtons:hover{
 text-decoration: line-through;
 font-size: 1.45em;
 color: red;
}
