.container{
  display: grid;
  justify-content: center;
  text-align: center;
}

.liButtons{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1{
  font-size: 3.5em
}

ul {
  list-style-type: none;
  padding-left:0;
}

li{
  text-align:center;
}

table{
  border-collapse: collapse;
}

td{
  padding: 0;
  margin: 0;
}

.liButtons{
  transition: all 300ms;
  padding: 3px;
  font-size: 1.3em;
  
}

.liButtons:hover{
 text-decoration: line-through;
 transform: scale(1.2);
 color: red;
}
